
#cadastroContato{

  padding: 10px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;  

}


#estado, #categoria{
  width: auto;
}


#tableContatos{
  margin-bottom: 10%;
  margin-top: 5%;
}


h1{
  text-align: center;
  background-color: rgb(102, 221, 230);
  border-radius: 10px;
  color: rgb(51, 108, 112);
  padding-top: 10px;
  padding-bottom: 10px;
}


table, th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}


button{
  height: 40px;
  position: relative;
  width: 100%;
  border: 0;  
}

#enviar{
  background-color: rgb(147, 226, 90);
  color: rgb(66, 102, 40);
}

#limpar{
  border: 1px solid;
  color: rgb(73, 77, 80);
  margin-top: 5px;
}

.remover{
  background-color: rgb(233, 118, 118);
  color: rgb(84, 42, 42);
}

.alterar{

  background-color: rgb(240, 248, 75);
  color:rgb(102, 106, 31);
}
