
#cadastroContato{

  padding: 10px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;  

}


#estado, #categoria{
  width: auto;
}


#tableContatos{
  margin-bottom: 10%;
  margin-top: 5%;
}


h1{
  text-align: center;
  background-color: rgb(102, 221, 230);
  border-radius: 10px;
  color: rgb(83, 175, 182);
  padding-top: 10px;
  padding-bottom: 10px;
}


table, th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}


button{
  height: 40px;
  width: 100px;
  border: 0;  
}

#enviar{
  background-color: rgb(102, 221, 230);
  color: rgb(62, 138, 143);
}

.clicado{
  background-color: rgb(233, 118, 118);
  color: rgb(130, 65, 65);
}


